* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
 
/*definindo as fontes*/
body, input, select, textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*definindo as fontes*/
.fieldset-wrapper legend, .fieldset-wrapper-title, button, h1 {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
}

/*Definindo cor do body*/
body {
  width: 100%;
  height: 1930px;
  background: #BFD7E4;
  
}

/*Definindo cor do header sobreposto ao body*/
body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0px;
  left: 0px;

 /*z-index = sobreposição*/
  z-index: -1;

  background: #293241;
  
}

.page {
  width: 750px;
  margin: auto;
  
}

/*Configurando o header*/
header {
  text-align: center;
  
}

header h1 {
  font-size: 36px;
  line-height: normal;
  margin-top: 107px;
}

p {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 8px;
}

header h1 , p {
  color: #FFF;
}

.fieldset-wrapper-title {
  color: #FFF;
  font-size: 24px;
  line-height: 34px; 
  margin-top: 50px;
  border-radius: 0px 0px 20px 20px;
  background: #F67669;
  
}

.fieldset-wrapper {
  
}