
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/* Configurações as fontes */
body, input, select,textarea, span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*definindo as fontes*/
.fieldset-wrapper legend, .fieldset-wrapper-title, footer .submit, h1 {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
}

/*Definindo cor do body*/
body {
  width: 100%;
  height: 1930px;
  background: #BFD7E4;
  
}

/*Definindo configurções do header,que está sobreposto ao body*/
body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0px;
  left: 0px;

 /*z-index = sobreposição*/
  z-index: -1;

  background: #293241;
  
}

.page {
  width: 750px;
  margin: auto;
  
}

/* Configuração do  header */
header {
  text-align: center;
  
}

header h1 {
  font-size: 36px;
  line-height: normal;
  margin-top: 107px;
}

p {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 16px;
}

header h1 , p {
  color: #FFF;
}

/* Configurações do fieldset */
header fieldset {
  width: 750px;
  height: 133px;

  border-radius: 20px 20px 0px 0px;
  background: #F67669;

  margin-top: 32px;
}

fieldset {
border: none;
}

.fieldset-wrapper-title{
  color: #FFF;
  font-size: 24px;
  line-height: 34px; 
  margin-top: 50px;
    
}

/* Configurações do Form */
form {
  
  height: 1075px;

  border-radius: 0px 0px 20px 20px;
  background: #FFF;


  padding: 30px 64px 64px;
  
  display: flex;
  flex-direction: column;
}

/* Configurações dos campos de entrada */
.input-wrapper label,
.input-wrapper-email label,
.input-wrapper-feedback label, 
.checkbox-wrapper,
.col-2, select,
.input-wrapper-1 label,
.input-wrapper-2 label,
.input-wrapper-3 label,
.input-wrapper-feedback textarea {
  color: #4E4958;
  font-size: 14px;
  display: flex;
  gap: 22px;
  margin-bottom: 8px;

}


.input-wrapper input,
.input-wrapper-email input,
.input-wrapper select,
.input-wrapper-feedback textarea
 {
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  padding: 8px 0px 0px 8px;
  color: #727272;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  width: 300px;
  height: 55px;
  margin-bottom: 16px;
}

.input-wrapper-email input {
  width: 622px;
}

.input-wrapper-email span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper-email label span:hover {
  color: #87858c;
}


/* Configurações do fieldset 2 */
.fieldset-wrapper legend{
  color: #253B51;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 32px;

  text-align: center;

  border-bottom: 1px solid #E6E6F0;
  width: 622px;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.input-wrapper textarea{
  gap: 8px;
  align-items: center;
}
.input-wrapper-feedback label {
  display: flex;
  
  margin-top: 32px;
}


.input-wrapper-feedback textarea {
  margin-bottom: 32px;
  
  width: 608px;
  height: 166.586px;

  border-radius: 8px;
  border: 1px solid #E6E6F0;
  background: #FAFAFC; 
  
}



/* Configurações do checkbox */
.checkbox-wrapper label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkbox-wrapper input {
  opacity: 0 ;
  position: absolute;
  width: 24px;
  height: 24px;
  

}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 8px;
  border:  1px solid #E6E6F0;
  
}

/* Configurações do checkbox checked */
.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_2704_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%23F67669'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2704_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}  

/* Configurações do checkbox focus (dica de acessibilidade) */
.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}


/* Configurações do fieldset(3) datetime */
.col-3 {
  display: flex;
  
}
 

.input-wrapper-1 label{
  gap: 8px;
  font-size: 14px;
}
.input-wrapper-1 label span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper-1 label span:hover {
  color: #87858c;
}

/* Configurações do campo de entrada - fieldset(3) datetime */
.input-wrapper-1 input,
.input-wrapper-2 input,
.input-wrapper-3 input {
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  padding: 8px 0px 0px 8px;
  color: #727272;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  
}

.input-wrapper-1 input {
  width: 300px;
  height: 56px;
  margin-bottom: 64px;
}


.input-wrapper-2 input,
.input-wrapper-3 input {
  width: 140px;
  height: 56px;
}

/*Configurando o footer*/
footer .submit {
  background: #F67669;
  

  border-radius: 8px;
  
  display: flex;
  width: 622px;
  height: 51px;
  padding: 15px 40px;
  
  justify-content: center;
  align-items: center;

  font-size: 20px;
  line-height: 26px;
  
  color: #FFF;
 
  border: none;

}



footer .submit:hover {
  background: #f45e4d;
 }

 
